<link href="/Css/index.css" rel="stylesheet" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/79b594a165.js" crossorigin="anonymous"></script>

<div id="root">
    <% console.log(status)%>
    <%- include('./partials/newCompanyForm')%>
    <div id="container">
<div class="topNavBar">
    <div class="logoDiv">
<img src="/assets/images.png" class="peopleLogo"/>
<p>People</p>
    </div>
    
</div>
<div class="dashBoardContainer">
    <div class="navigationBar">
        <div class="iconDiv">
            <i class="fa-solid fa-house icon" id="home"></i>
            <span>Home</span>
        </div>
        <div class="iconDiv">
            <i class="fa-solid fa-user icon" id="selfservice"></i>
            <span>service</span>
        </div>
        <div class="iconDiv">
            <i class="fa-solid fa-calendar-check icon"></i>
            <span>Leave</span>
        </div>
        <div class="iconDiv">
            <i class="fa-solid fa-clock icon"></i>
            <span>Time</span>
        </div>
        <div class="iconDiv">
            <i class="fa-solid fa-calendar icon"></i>
            <span>Attendance</span>
        </div>
        <div class="iconDiv">
            <i class="fa-solid fa-trophy icon"></i>
            <span>Performance</span>
        </div>
        <div class="iconDiv">
            <i class="fa-solid fa-file icon"></i>
            <span>Files</span>
        </div>
        <div class="iconDiv" id="organization">
            <i class="fa-solid fa-building icon"></i>
            <span>Orgainzation</span>
        </div>
        <div class="iconDiv">
            <i class="fa-solid fa-jet-fighter-up icon"></i>
            <span>Travel</span>
        </div>
        <div class="navDownDiv">

        </div>
    </div>
    <div class="DashBoard">
      
    </div>
</div>
    </div>
</div>

<script>


</script>
<script src="/Js/script.js"></script>