<div class="scrollDiv">
    <div class="DashBoardDetails">
     <h3>BirthDay</h3>
     <div class="ImgDIv">
         <img src="/assets/empty_state_search_not_found_b2725_.svg"/>
         <p>No birthdays today</p>
     </div>
    </div>
    <div class="DashBoardDetails">
     <h3>New Hires</h3>
     <div class="ImgDIv">
         <img src="/assets/empty_state_search_not_found_b2725_.svg"/>

     </div>
    </div>
    <div class="DashBoardDetails">
     <h3>Favorites</h3>
     <div class="ImgDIv">
         <img src="/assets/empty_state_search_not_found_b2725_.svg"/>
         <p>No Favorites found</p>
     </div>
    </div>
    <div class="DashBoardDetails">
     <h3>Announcements</h3>
     <div class="ImgDIv">
         <img src="/assets/empty_state_search_not_found_b2725_.svg"/>
         <p>No Announcement</p>
     </div>
    </div>
    <div class="DashBoardDetails">
     <h3>Leave Report</h3>
     <div class="ImgDIv">
         <img src="/assets/empty_state_search_not_found_b2725_.svg"/>
     </div>
    </div>
    <div class="DashBoardDetails">
     <h3>Upcoming holidays</h3>
     <div class="ImgDIv">
         <img src="/assets/empty_state_search_not_found_b2725_.svg"/>
     </div>
    </div>
    <div class="DashBoardDetails">
     <h3>Work Anniversery</h3>
     <div class="ImgDIv">
         <img src="/assets/empty_state_search_not_found_b2725_.svg"/>
         <p>No work anniversaries today</p>
     </div>
    </div>
    <div class="DashBoardDetails">
     <h3>My goals</h3>
     <div class="ImgDIv">
         <img src="/assets/empty_state_search_not_found_b2725_.svg"/>
         <p>No record found</p>
     </div>
    </div>
    <div class="DashBoardDetails">
     <h3>Wedding Anniversery</h3>
     <div class="ImgDIv">
         <img src="/assets/empty_state_search_not_found_b2725_.svg"/>
        <p>No wedding anniversaries today</p>
     </div>
    </div>
   
 </div>