<div class="companyUsersDiv">
<div class="addEmployeeNav">
    <h3>Employee Details</h3>
    <button class="add_employeeBtn"  id="add-employee_id"><i class="fa-solid fa-plus plus"></i><b>Add Employee</b></button>
</div>
<div class="usersDiv">

</div>
</div>
<script>
    $('#add-employee_id').click(function(){
    $(".DashBoard").load('/organization');
});
</script>